.donor-form-container {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}

.male-female-text {
    color: whitesmoke;
}

.age-input ::-webkit-inner-spin-button, .age-input ::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.donor-form-container h1 {
    width: 45rem;
    color: #111;
    font-size: 2rem; 
    font-weight: 800;
    padding: 0.3rem;
}